/* LIBS */
/* --------- responsive mixins --------- */
/* BTN-STYLE */
[class*="btn-"] {
  display: inline-block;
  font-family: "Arrow";
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  touch-action: manipulation; }
  [class*="btn-"]:hover, [class*="btn-"]:focus {
    text-decoration: none; }

.fixed {
  position: fixed;
  top: 0;
  z-index: 200; }

.nav li.active a {
  border-bottom: 2px solid #EB565C; }
