			<div class="row item content-item">
				<div class="item-block col">
					<div class="thumbnail">
						<img src="http://placehold.it/80" height="120" width="120" alt="">
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil culpa doloremque, ducimus quo recusandae atque doloribus, eaque mollitia ipsam quam vitae ipsum molestiae pariatur facilis modi eius laboriosam unde!</p>
							<p><a href="#" role="button"  class="btn-primary">Button</a> <a href="#" class="btn-secondary" role="button">Button</a></p>
						</div>
					</div>
				</div>
				<div class="item-block col">
					<div class="thumbnail">
						<img src="http://placehold.it/80" height="120" width="120" alt="">
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil culpa doloremque, ducimus quo recusandae atque doloribus, eaque mollitia ipsam quam vitae ipsum molestiae pariatur facilis modi eius laboriosam unde!</p>
							<p><a href="#" role="button"  class="btn-primary">Button</a> <a href="#" class="btn-secondary" role="button">Button</a></p>
						</div>
					</div>
				</div>
				<div class="item-block col">
					<div class="thumbnail">
						<img src="http://placehold.it/80" height="120" width="120" alt="">
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil culpa doloremque, ducimus quo recusandae atque doloribus, eaque mollitia ipsam quam vitae ipsum molestiae pariatur facilis modi eius laboriosam unde!</p>
							<p><a href="#" role="button"  class="btn-primary">Button</a> <a href="#" class="btn-secondary" role="button">Button</a></p>
						</div>
					</div>
				</div>
			</div>