	<div class="popup mfp-hide" id="presence">
		<form id="form">
			<div class="user-data">
				<div class="user-name">
					<label for="name">Ваше имя</label>
					<input type="text" name="name" id="name" placeholder="Представтесь, пожалуйста" required >
				</div>
				<div class="user-phone">
					<label for="phone">Телефон:</label>
					<input type="tel" name="phone" id="phone" placeholder="Для отправки ответа" required class="phone">
				</div>
			</div>
			<label for="text">Комментарии:</label>
			<textarea name="text" id="text" placeholder="В свободной форме"></textarea>
			<div class="button-inner">
				<input type="submit">
				<input type="reset">
			</div>
		</form>
	</div>