<footer class="footer-big" >
	<div class="container">
	<div class="footer-top row">
		<div class="col list-col">
			<ul>
				<li class="list-col__heading">Продукция</li>
				<li><a href="#">плитка</a></li>
				<li><a href="#">мозаика</a></li>
				<li><a href="#">скала</a></li>
				<li><a href="#">раковины и курны</a></li>
				<li><a href="#">молдинг</a></li>
				<li><a href="#">фрэнч паттерн</a></li>
				<li><a href="#">слэбы</a></li>
				<li><a href="#">изделия</a></li>
				<li><a href="#">фасадные элементы</a></li>
			</ul>
		</div>
		<div class="col list-col">
			<ul>
				<li class="list-col__heading"> Клиентам</li>
				<li><a href="">доставка и оплата</a></li>
				<li><a href="">часто задаваемые вопросы</a></li>
				<li><a href="">отзывы</a></li>
			</ul>
		</div>
		<div class="col list-col">
			<ul>
				<li class="list-col__heading">О компании</li>
				<li><a href="">о компании</a></li>
				<li><a href="">сотрудничество</a></li>
				<li><a href="">контакты</a></li>
			</ul>
		</div>
		<div class="col list-col">
			<p>Узнайте о предстоящих акциях и действующих скидках первыми! Подпишитесь на рассылку, просто указав свой email в поле ниже, после чего нажмите Enter</p>
			<form>
				<input type="email" name="email" placeholder="Введите email" required >
				<input class="user__submit" type="submit" value="Узнать о акциях">
			</form>
			<div class="social">
				<a href="#"><i class="icon icon-facebook"></i></a>
				<a href="#"><i class="icon icon-vk"></i></a>
				<a href="#"><i class="icon icon-twitter"></i></a>
			</div>
		</div>
		<hr>
	</div>
	<div class="footer-bottom row">
		<div class="col list-col_copyright">
			<div>2012-2018 © Все права зашищиены.</div>
		</div>
	</div>
	</div>
</footer>
