.arrow_l, .arrow_r, .arrow_l_small, .arrow_r_small, .arrow_l_small_active, .arrow_r_small_active, .search, .settings, .camera{
	background: url(sprites.png) no-repeat;
}

.arrow_l{
	background-position: -1px 0;
	width: 26px;
	height: 42px;
}

.arrow_r{
	background-position: 0 -50px ;
	width: 26px;
	height: 42px;
}

.arrow_l_small{
	background-position: -1px -100px ;
	width: 15px;
	height: 17px;
}

.arrow_r_small{
	background-position: 0 -142px ;
	width: 15px;
	height: 17px;
}

.arrow_l_small_active{
	background-position: 0 -121px ;
	width: 16px;
	height: 17px;
}

.arrow_r_small_active{
	background-position: -1px -165px ;
	width: 15px;
	height: 17px;
}

.search{
	background-position: 0 -187px ;
	width: 26px;
	height: 21px;
}

.settings{
	background-position: -1px -213px ;
	width: 25px;
	height: 26px;
}

.camera{
	background-position: 0 -248px ;
	width: 29px;
	height: 24px;
}

