<div class="thumbnail-row row">
	<div class="thumbnail-col col">
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/80" alt="...">
		</a>
	</div>
	<div class="thumbnail-col col">
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/80" alt="...">
		</a>
	</div>
	<div class="thumbnail-col col">
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/80" alt="...">
		</a>
	</div>
	<div class="thumbnail-col col">
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/80" alt="...">
		</a>
	</div>
</div>