    <div class="carousel">
        <div id="js-carousel">
            <div class="js-slide">
                <div class="carousel__item">
                    <p class="carousel-text">The best and most reliable VPS account I have experienced from happy-hosting. I have never expected to have such a reliable host. Thanks to them very much for their unparalleled services with excellent administration.</p>
                    <div class="carousel-photo">
                        <img src="http://placehold.it/80" width="80" height="80" alt="">
                    </div>
                    <p class="carousel-author">Oscar Wild,  Pragmatic Solutions</p>
                </div>
            </div>
            <div class="js-slide">
                <div class="carousel__item">
                    <p class="carousel-text">The best and most reliable VPS account I have experienced from happy-hosting. I have never expected to have such a reliable host. Thanks to them very much for their unparalleled services with excellent administration.</p>
                    <div class="carousel-photo">
                        <img src="http://placehold.it/80" width="80" height="80" alt="">
                    </div>
                    <p class="carousel-author">Oscar Wild,  Pragmatic Solutions</p>
                </div>
            </div>
            <div class="js-slide">
                <div class="carousel__item">
                    <p class="carousel-text">The best and most reliable VPS account I have experienced from happy-hosting. I have never expected to have such a reliable host. Thanks to them very much for their unparalleled services with excellent administration.</p>
                    <div class="carousel-photo">
                        <img src="http://placehold.it/80" width="80" height="80" alt="">
                    </div>
                    <p class="carousel-author">Oscar Wild,  Pragmatic Solutions</p>
                </div>
            </div>       
        </div>
    </div><!-- /.carousel -->