/* BTN-STYLE */

%btn{
  display:inline-block;
  font-family: $font-family-btn;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  background-image: none; 
  border: 1px solid transparent;
  border-radius:15px;
  touch-action: manipulation;
  @include tdn;
  transition: all .2s ease ;
}

%btn-normal {
  font-size: 14px;
  line-height: 40px;
  height:40px;
}

%btn-medium{
  height:58px;
  line-height: 58px;
  font-size: 21px;
}

%btn-big{
  font-size: 21px;
  line-height: 86px;
  height: 86px;
  padding: 0 136px;
}

%btn-small{
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}


%btn-primary{
  background-color: $color-primary;
  &:hover{
    background-color: $color-primary-hover;
    color:#fff;
  }
  &:focus{
    color:#fff;
    background-color: $color-primary-focus;
  }
}

%btn-secondary{
  background-color:$color-secondary;
  &:focus{
    background-color: $color-secondary-focus;
  }
  &:hover{
    background-color: $color-secondary-hover;
  }
}

[class*="btn-"]{
  @extend %btn;
}