.svg-business {
	background: url("../img/sprite.svg") 0 0 no-repeat;
}


.svg-business_1 {
	background: url("../img/sprite.svg") 8.333333333333334% 8.333333333333334% no-repeat;
}


.svg-calendar {
	background: url("../img/sprite.svg") 16.666666666666668% 16.666666666666668% no-repeat;
}


.svg-coins {
	background: url("../img/sprite.svg") 25% 25% no-repeat;
}


.svg-document {
	background: url("../img/sprite.svg") 33.333333333333336% 33.333333333333336% no-repeat;
}


.svg-hands {
	background: url("../img/sprite.svg") 41.666666666666664% 41.666666666666664% no-repeat;
}


.svg-handshake {
	background: url("../img/sprite.svg") 50% 50% no-repeat;
}


.svg-medical {
	background: url("../img/sprite.svg") 58.333333333333336% 58.333333333333336% no-repeat;
}


.svg-meeting {
	background: url("../img/sprite.svg") 66.66666666666667% 66.66666666666667% no-repeat;
}


.svg-money {
	background: url("../img/sprite.svg") 75% 75% no-repeat;
}


.svg-pen {
	background: url("../img/sprite.svg") 83.33333333333333% 83.33333333333333% no-repeat;
}


.svg-pen_1 {
	background: url("../img/sprite.svg") 91.66666666666667% 91.66666666666667% no-repeat;
}


.svg-person {
	background: url("../img/sprite.svg") 100% 100% no-repeat;
}



