/* NAV-MAIN */
.nav-main{
	background-color: #31415b;
	@include box-shadow( 0, -5px, 0, #293349, inset);
	a{
		color:#fff;
		font-family: "Cuprum";
		font-size: 17px;
		height: 62px;
		line-height: 62px;
	}
	&>li>a{
		padding: 0;
		@include bg-variant(#31415b,#293449,#1d2739,0.5);
		@include box-shadow( 0, -5px, 0, #293349, inset);
	}
}