/* HEADER-NAVBAR */
.header{
	&__navbar{
		background-color: #698bc7;
		min-height: 90px;
		line-height: 90px;
		font-size: 1.125rem;
		transition: all 1s;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	&__contacts{
		line-height: 1.2;
		background-color: darken(#698bc7, 20%);
	}
}

.logo{
	&__navbar{
		@include link(#fff,#ebe3dd,#fff);
		color: #fff;
		font-family: 'Cormorant Unicase', serif;
		font-weight: 600;
		font-size: 1.5rem;
		text-align: center;
		display: block;
		padding: 0 10px;
		text-transform: uppercase;
		&:hover,&:focus{
			text-decoration: none;
		}
	}


	&__img{
		fill:#fff;
		width: 40px;
		height: auto;
		line-height: 1;
		position: relative;
		top: 10px;
		left: -3px;
	}
}




.phone{
	padding-top: 5px;
	&__number{
		line-height: 1.2;
		padding: 3px 10px;
		color: #fff;
		font-weight: bolder;
		font-size: 1.1875rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		&:hover, &:focus{
			color: #fff;
			text-decoration: none;
		}
	}
	&-btn{
		height: auto;
		@extend %btn;
		transition: all .4s ease;
		width: 100%;
		color:#f2be54;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.4;
		&:hover,&:focus{
			font-weight: bolder;
			transform:scale(1.1);
			color:#f2be54;
		}
	}

}
@include media-breakpoint-up(sm) {
  html {
    font-size: 0.75rem;
  }
}

@include media-breakpoint-up(md) {
html{
	font-size: 0.8125rem;
}
}

