<div class="list-checked">
	<div class="first-type">
			<h3>Инфраструктура:</h3>
			<ul>
				<li class="disabled">
					<input type="checkbox" id="cb1" disabled>
					<label for="cb1">Бассейн</label>
				</li>
				<li>
					<input type="checkbox" id="cb2">
					<label for="cb2">Парковка</label>
				</li>
				<li>
					<input type="checkbox" id="cb3">
					<label for="cb3">Wi-Fi</label>
				</li>
			</ul>
		</div>
		<div class="second-type">
			<h3>Тип жилья:</h3>
			<ul>
				<li class="disabled">
					<input type="checkbox" id="cb4" disabled>
					<label for="cb4">Гостиница</label>
				</li>
				<li>
					<input type="checkbox" id="cb5">
					<label for="cb5">Мотель</label>
				</li>
				<li>
					<input type="checkbox" id="cb6">
					<label for="cb6">Аппартаменты</label>
				</li>
			</ul>
		</div>
	</div>